.jumbotron h1 h3 {
	color: #052a66;
	text-align: center bold ;
	background: #fff;
	height:150px;
	position: fixed center;
	overflow: hidden;
	}

.jumbotron{
	opacity: 0.8;
}
.container-fluid{
	opacity: 0.9;
}

body{
	background: white url("extras/tracks.jpg") no-repeat fixed center;
}

.panel-body {
	background:white;
	position:relative;
	background-size: cover;
	height: 250px
	opacity:0.2;
	}

.fa-train {
	color: #a7c3f2;
}

h5{
	color:#a7c3f2;
}